// Theme: light, dark
$theme: light;

// ----- Colors -----
$main-color: rgb(0, 162, 255);
$secondary-color: rgb(43, 0, 255);
$black-color: rgb(0, 0, 0);
$red-color: red;
$white-color: white;
$text-color: black;

// ----- Sizes -----
$header-height: 70px;
$footer-height: 90px;

// ----- Fonts -----
$big-font-size: 30px;
$medium-font-size: 24px;
$small-font-size: 16px;

@if $theme == dark {
  $main-color: rgb(0, 0, 128);
  $text-color: white;
}

// Značka (brand): pizza, coffe
// Pizza => podtržené nadpisy
// Coffe => hnědá barva odkazů
$brand: coffe;

// Matematika v SCSS
$math-results: 10px + 4px;
// $math-results: 10px - 4px;
// $math-results: 10px * 4;
// $math-results: 10px * 4px / 3px;
// $math-results: 10px / 4;
// $math-results: 1in - 6px;